---
import "../../styles/global.css";

export interface Props {
    upperLink?: string;
    upperText?: string;
    title: string;
    description: string;
    primaryLink?: string;
    primaryText?: string;
    secondaryLink?: string;
    secondaryText?: string;
}

const {
    upperText,
    upperLink,
    title,
    description,
    primaryText,
    primaryLink,
    secondaryText,
    secondaryLink,
} = Astro.props;

const showUpper = upperText && upperLink;
const showPrimary = primaryText && primaryLink;
const showSecondary = secondaryText && secondaryLink;
---

<section class="hero-lite">
    {
        showUpper ? (
            <div class="upper">
                <a href={upperLink} title={upperText}>
                    {upperText}
                </a>
            </div>
        ) : null
    }
    <div class="main">
        <h1>{title}</h1>
        <p>{description}</p>
    </div>
    <div class="bottom">
        {
            showPrimary ? (
                <a href={primaryLink} class="primary" title={primaryText}>
                    {primaryText}
                </a>
            ) : null
        }
        {
            showSecondary ? (
                <a href={secondaryLink} class="secondary" title={secondaryText}>
                    {secondaryText}
                </a>
            ) : null
        }
    </div>
</section>

<style>
    .hero-lite {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 50px;
        text-align: center;

        .upper {
            width: 100%;
            
            a {
                font-size: 0.9rem;
                background-color: light-dark(
                    hsl(220, 15%, 95%),
                    hsl(215, 30%, 15%)
                );
                padding: 10px 20px;
                border-radius: 20px;
                text-decoration: none;
                color: light-dark(var(--text-dark), var(--text-light));

                &:hover {
                    background-color: light-dark(
                        hsl(220, 15%, 90%),
                        hsl(215, 30%, 20%)
                    );
                }
            }
        }

        .main {
            h1 {
                font-size: 2.5rem;
                margin-block: 30px 10px;
            }

            p {
                margin-bottom: 30px;
            }
        }

        .bottom {
            display: flex;
            gap: 10px;

            @media (width < 640px) {
                flex-direction: column;
                width: 80%;
            }

            a {
                padding: 10px 20px;
                border-radius: 20px;
                text-decoration: none;
            }

            .primary {
                background-color: hsl(225, 75%, 50%);
                color: var(--text-light);

                &:hover {
                    background-color: hsl(225, 75%, 45%);
                }
            }

            .secondary {
                border: 1px solid hsl(0, 0%, 50%);
                color: light-dark(var(--text-dark), var(--text-light));

                &:hover {
                    background-color: light-dark(
                        hsl(0, 0%, 90%),
                        hsl(215, 20%, 15%)
                    );
                }
            }
        }
    }
</style>
